---
import "../styles/nav.css"
---

<header id="nav-header">
    <nav>
        <a href="/"><h1>2f42</h1></a>

        <button id="nav-button">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="nav-hidden" id="nav-list">
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <script defer>
        const navList = document.getElementById("nav-list");
        const navButton = document.getElementById("nav-button");
        let menuOpen = false;

        navButton.addEventListener("click", () => {
            if (menuOpen) {
                navList.classList.add("nav-hidden");
                
            } else {
                navList.classList.remove("nav-hidden");
            }

            menuOpen = !menuOpen;
        });

        let scrollPos = window.pageYOffset;
        const navHeader = document.getElementById("nav-header");

        window.onscroll = () => {
            if (window.innerWidth <= 600) {
                let curScrollPos = window.pageYOffset;
                if (!menuOpen) {
                    if (scrollPos > curScrollPos) {
                        navHeader.style.top = "0";
                    } else {
                        navHeader.style.top = "-3.5rem";
                    }
                } else {
                    navHeader.style.top = "0";
                }
                scrollPos = curScrollPos;
            }
        }
    </script>
</header>
