---

---

<nav>
    <a href="/"><img src="https://media.discordapp.net/attachments/515718436425433090/994272271604662313/unknown.png" width="48px" height="48px" /></a>
    <a href="/">Home</a>
    <a href="/about">About</a>
</nav>